@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.rotas-page {
  .rotas-body {
    padding: 1rem;
  }

  .button-file {
    width: max-content;
    padding: 0.5rem 2.5rem;
    height: 50px;
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    background-color: $green;
    border: none;
    border-radius: 9px;
  }
}

.link-routes {
  color: $green;
}
