@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.base-button {
  @include base-transition;
  width: max-content;
  height: 50px;
  padding: 0.5rem 2.5rem;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 9px;

  &.primary {
    background-color: $green;

    &:hover {
      background-color: $orange;
    }
  }

  &.secondary {
    background-color: $orange;

    &:hover {
      background-color: $green;
    }
  }

  @include on-screen-sm {
    font-size: 1rem;
    padding: 0.5rem 2rem;
  }
}
