.base-button {
  width: 100%;
  max-width: 250px;
  min-width: max-content;
  height: 42px;
  border-radius: 9999px;
  font-weight: bold;
  font-size: 20px;
  color: rgb(0, 0, 0);
  background-color: #d0ec43;
  align-self: center;
  &:hover {
    background-color: #d0ec43;
    transform: scale(0.97);
  }
}
