@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.login-page {
  .link-go-back {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;

    &:hover {
      border-radius: 50%;
      background-color: rgb(228, 228, 228);
    }

    .icon-go-back {
      height: 6vmin;
      min-height: 50px;
      max-height: 60px;
      cursor: pointer;
    }
  }

  .login-body {
    float: right;
    padding: 5rem;
  }

  .login-icon {
    height: 6vmin;
    pointer-events: none;
    float: right;
  }
}

.login-panel {
  float: left;
  width: 30%;
  padding: 2%;
  background-color: $green;
  border-radius: 3%;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 5%;

  > form.form-group {
    size: 30%;
    background-color: $green;
    text-align: right;
    display: flex;
    flex-direction: column;
    width: 30%;

    input {
      font-weight: 500;
      font-size: 15px;
      height: 40px;
      width: 390px;
      margin-bottom: 0.2rem;
      border: solid 1px $green;
      border-radius: 5px;
      background-color: #fff;
      &::placeholder {
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}
