@import "variables";
@import "mixins";
@import "reset";

* {
  font-family: $font-default;
}

html {
  font-size: 16px;

  @include on-screen-sm {
    font-size: 14px;
  }
}

body {
  width: 100%;
  min-height: 100vh;
  color: $text;
  background-color: $background;
}

.page-content {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.logo {
  width: 10vmin;
  max-width: 100px;
  min-width: 70px;
  pointer-events: none;
  user-select: none;
}

.link,
a {
  @include base-transition;
  color: $green;
  text-decoration: none;

  &:hover {
    color: $orange;
  }
}
